@font-face {
    font-family: 'mickey';
    src: url('../fonts/mickey-webfont.eot') format('eot'),
         url('../fonts/mickey-webfont.woff') format('woff'),
         url('../fonts/mickey-webfont.ttf') format('truetype'),
         url('../fonts/mickey-webfont.svg') format('svg');
}

body{
	font-family: 'mickey';
	background-image: url("../img/memory.jpg");
}

.cartes{
	display: block;
}

.carte{
	height: 117px;
	width: 116px;
	margin: 5px;
	float: left;
}

.memo, .hide{
	border: 3px solid grey;
}

.hide{
	height: 100%;
	width: 100%;
	background: black;
}

.compteur{
	float: left;
}

p{
	font-size: 55px;
}